body {
    background-color: #2a9d8f;
}

h1 {
    font-family: monospace;
    text-align: center;
}

#sobre {
    font-family: Arial;
    margin-top: 65px;
    margin-left: 250px;
}

em {
    color: white;
}

.toco-violao {
    font-size: 18px;
}

.sou-professor-voluntario{
    font-size: 22px;
}

.sou-um-bom-ouvinte {
    font-size: 16px;
}

.sou-cuidadoso {
    font-size: 20px;
}

#foto {
    float: left;
    padding: 5px;
    background-color: green;
}

.img-container {
    height: 200px;
}

ul li:nth-child(odd) {
    color: blue;
}